extends base 

block content
    
    main.main
     .card-container 

        each tour in tours
            .card
                .card__header
                    if user     
                        if (user.liked.includes(tour.id))
                            svg(xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="card__heartIcon icon") 
                                path(d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z")
                        
                    
                    .card__picture
                        .card__picture-overlay &nbsp;
                        img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name} photo`)
                    h3.heading-tertirary
                        span= tour.name

                .card__details
                    h4.card__sub-heading=`${tour.difficulty} ${tour.duration}-day tour`
                    p.card__text=tour.summary 
                    .card__data
                        svg.card__icon
                            use(xlink:href='/img/icons.svg#icon-map-pin')
                        span= tour.startLocation.description
                    .card__data
                        svg.card__icon
                            use(xlink:href='/img/icons.svg#icon-calendar')
                        span=tour.startDates[0].toLocaleString("en-us",{ month: "long", year: "numeric",})
                    .card__data
                        svg.card__icon
                            use(xlink:href='/img/icons.svg#icon-flag')
                        span=`${tour.locations.length} stops`
                    .card__data
                        svg.card__icon
                            use(xlink:href='/img/icons.svg#icon-user')
                        span= `${tour.maxGroupSize} people`

                .card__footer
                    p
                        span.card__footer-value=`$${tour.price}`
                        | 
                        span.card__footer-text per person
                    p.card__ratings
                        span.card__footer-value=tour.ratingsAverage
                        | 
                        span.card__footer-text= `rating (${tour.ratingsQuantity})`
                    a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
